Importing the necessary packages

In [3]:
import seaborn as sns

import pandas as pd

import matplotlib.pyplot as plt

import numpy as np

Reading the data into python

In [4]:
chess_dataframe = pd.read_csv("Data\chess.csv")

#im_games_dataframe = pd.read_csv("Data\im_games.csv")

chess_dataframe.shape, #im_games_dataframe.shape

((859370, 12),)

Getting info about our data

In [5]:
chess_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859370 entries, 0 to 859369
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   time_control    859370 non-null  object
 1   end_time        859370 non-null  object
 2   rated           859370 non-null  bool
 3   time_class      859370 non-null  object
 4   rules           859370 non-null  object
 5   gm_username     859370 non-null  object
 6   white_username  859370 non-null  object
 7   white_rating    859370 non-null  int64
 8   white_result    859370 non-null  object
 9   black_username  859370 non-null  object
 10  black_rating    859370 non-null  int64
 11  black_result    859370 non-null  object
dtypes: bool(1), int64(2), object(9)
memory usage: 72.9+ MB

In [6]:
chess_dataframe.head(5)

,time_control,end_time,rated,time_class,rules,gm_username,white_username,white_rating,white_result,black_username,black_rating,black_result
0,300+1,2021-06-19 11:40:40,True,blitz,chess,123lt,vaishali2001,2658,win,123lt,2601,resigned
1,300+1,2021-06-19 11:50:06,True,blitz,chess,123lt,123lt,2627,win,vaishali2001,2649,resigned
2,300+1,2021-06-19 12:01:17,True,blitz,chess,123lt,vaishali2001,2641,timeout,123lt,2649,win
3,300+1,2021-06-19 12:13:05,True,blitz,chess,123lt,123lt,2629,timeout,vaishali2001,2649,win
4,300+1,2021-06-19 12:28:54,True,blitz,chess,123lt,vaishali2001,2657,win,123lt,2611,resigned

Getting a sub-dataframe that include the result as well as colour

In [9]:
win_result_df = chess_dataframe.iloc[:,6:]

win_result_df.head(5)

,white_username,white_rating,white_result,black_username,black_rating,black_result
0,vaishali2001,2658,win,123lt,2601,resigned
1,123lt,2627,win,vaishali2001,2649,resigned
2,vaishali2001,2641,timeout,123lt,2649,win
3,123lt,2629,timeout,vaishali2001,2649,win
4,vaishali2001,2657,win,123lt,2611,resigned